openapi: 3.0.1
info:
  title: Authorization Administration Logs Products API
  description: Documentation of the authentication used for the 1NCE APIs.
  contact:
    name: 1NCE GmbH
    url: https://1nce.com
    email: info@1nce.com
  version: v2.1.1
servers:
- url: https://api.1nce.com/management-api
tags:
- name: Products
  description: Product Information
paths:
  /v1/products:
    get:
      tags:
      - Products
      summary: Get All Products
      description: Get a list of all avaliable products.
      operationId: getProductsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
components:
  schemas:
    Product:
      title: Product
      type: object
      properties:
        id:
          type: integer
          description: Product id, unique identifier for the product.
          example: 1001
        product:
          type: string
          description: Specific name of the 1NCE product.
          example: 1NCE IoT FlexSIM - Standard
        material:
          type: string
          description: Product type specification.
          example: 1NCE FlexSIM
        package_size:
          type: integer
          description: Quanitity of product in one package.
          example: 1
        minQuantity:
          type: integer
          description: Minimum quantity of product per order.
          example: 1
        maxQuantity:
          type: integer
          description: Maximum quantity of product per order.
        maxQuantityPerCustomer:
          type: integer
          description: Maximum quantity of product per customer.
        min_contract_duration:
          type: integer
          description: Minimum contract duration for the given product in months.
          example: 120
        one_time_charges:
          type: array
          description: One-Time charges that apply for this product.
          items:
            $ref: '#/components/schemas/Charge'
        recurring_charges:
          type: array
          description: Recurring chargesthat apply for this product.
          items:
            $ref: '#/components/schemas/Charge'
      description: Information about a specific 1NCE product.
    Charge:
      title: Charge
      type: object
      properties:
        name:
          type: string
          description: Name of the charge.
          example: provisionCharge
        amount_net:
          type: number
          description: Net amount of the charge.
          example: 10
        currency:
          type: string
          description: Currency of the charge.
          example: EUR
      description: Charging price for a product or service offered by 1NCE.
  securitySchemes:
    BasicAuthentication:
      type: http
      scheme: basic
      description: Basic authentication used for obtaining the Bearer Authentication Token. The Bearer Token can then be used to make any further API calls towards the 1NCE API.
