openapi: 3.2.0
info:
  title: SIM Management SMS by ICCID API
  description: Documentation of the 1NCE API for SIM Management.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: 1NCE GmbH
    url: https://1nce.com
    email: info@1nce.com
  version: v2.0
servers:
- url: https://api.1nce.com/management-api/
  description: API gateway
  variables:
    basePath:
      default: v2
      description: API Version Segment
tags:
- name: SMS by ICCID
paths:
  /v2/sims/{iccid}/sms/{id}:
    delete:
      tags:
      - SMS by ICCID
      summary: Cancel SMS
      description: Cancel a SMS message that is buffered to be delivered to the device with the SIM card but was not yet delivered.
      operationId: cancelSmsOfSimUsingDELETE
      parameters:
      - name: iccid
        in: path
        description: The ICCID of the SIM for MT-SMS or MO-SMS.
        required: true
        schema:
          type: string
        example: '8988280666000000000'
      - name: id
        in: path
        description: The ID of the SMS message to be cancelled.
        required: true
        schema:
          type: number
        example: 123
      responses:
        '200':
          $ref: '#/components/responses/ResourceDeleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequest'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerError'
    ResourceDeleted:
      description: Resource Deleted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteItemResponse'
    NotFound:
      description: Not found error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
  schemas:
    InternalServerError:
      description: Internal Server Error
      type: object
      required:
      - error_code
      - error_token
      - message
      properties:
        error_code:
          type: number
          example: 1000
        error_token:
          type: string
          example: InternalServerError
        message:
          type: string
          example: Internal Server Error
          description: Error Message with more details goes here
    DeleteItemResponse:
      type: object
      properties:
        id:
          type: string
    NotFound:
      description: Not found Error
      type: object
      required:
      - error_code
      - error_token
      - message
      properties:
        error_code:
          type: number
          example: 1000
        error_token:
          type: string
          example: NotFound
        message:
          type: string
          example: Element not found
          description: Error Message with more details goes here
    BadRequest:
      description: Validation Error
      type: object
      required:
      - error_code
      - error_token
      - message
      properties:
        error_code:
          type: number
          example: 1000
        error_token:
          type: string
          example: BadRequest
        message:
          type: string
          example: 'Cannot parse parameter per_page as Int: For Input String "abc"'
          description: Error Message with more details goes here
  securitySchemes:
    BearerAuthentication:
      type: http
      scheme: bearer
      description: Bearer Authentication Token used to gain access to the 1NCE API. Please refer to the Open Authorization (/oauth/token) request for obtaining a Bearer Token.
x-tagGroups:
- name: openapi-core-management
  tags:
  - Endpoint by ICCID
- name: openapi-smsc-facade-management
  tags:
  - SMS by ICCID
- name: openapi-ext-management
  tags:
  - Events by ICCID
x-readme:
  explorer-enabled: true
  proxy-enabled: true
