openapi: 3.0.1
info:
  title: Authorization Administration Logs Volume Top Up API
  description: Documentation of the authentication used for the 1NCE APIs.
  contact:
    name: 1NCE GmbH
    url: https://1nce.com
    email: info@1nce.com
  version: v2.1.1
servers:
- url: https://api.1nce.com/management-api
tags:
- name: Volume Top Up
  description: Top Up Management
paths:
  /v1/sims/{iccid}/topup:
    post:
      tags:
      - Volume Top Up
      summary: Create Single Top Up
      description: Top up the data/SMS volume of one specific SIM.
      operationId: topUpUsingPOST
      parameters:
      - name: iccid
        in: path
        description: The ICCID of the SIM to be topped up.
        required: true
        schema:
          type: string
        example: 8988280666000000000
      - name: payment_method
        in: query
        description: Optional payment method selection between creditcard, banktransfer, monthlyinvoice or boleto. If the parameter is left empty or is invalid, banktransfer is used as default for the top up order process.
        required: false
        schema:
          type: string
          enum:
          - banktransfer
          - creditcard
          - monthlyinvoice
          - boleto
          default: banktransfer
          example: banktransfer
      responses:
        '201':
          description: Order created successfully.
          headers:
            Location:
              description: The path to the newly created order.
              schema:
                type: string
                example: https://api.1nce.com/management-api/v1/orders/1234
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid Payment Method:
                  value:
                    message: Payment method used is not valid.
              schema:
                title: Invalid Payment Method
                properties:
                  message:
                    example: Payment method used is not valid.
                    type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: SIM does not belong to user.
          content: {}
        '404':
          description: SIM not found.
          content: {}
        '422':
          description: The following SIMs are expired and cannot be modified via API. Only extensions are permitted
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
  /v1/sims/topup:
    post:
      tags:
      - Volume Top Up
      summary: Create Multiple Top Up
      description: Top up the data/SMS volume of a list of SIM.
      operationId: topUpMultipleUsingPOST
      parameters:
      - name: payment_method
        in: query
        description: Optional payment method selection between creditcard, banktransfer, monthlyinvoice or boleto. If the parameter is left empty or is invalid, banktransfer is used as default for the top up order process.
        required: false
        schema:
          type: string
          enum:
          - banktransfer
          - creditcard
          - monthlyinvoice
          - boleto
          default: banktransfer
          example: banktransfer
      requestBody:
        description: A list of ICCIDs of SIMs where a Top Up should be executed.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: '8988280666000000000'
        required: true
      responses:
        '201':
          description: Top Up order initiated successfully.
          headers:
            Location:
              description: The path to the newly created order.
              schema:
                type: string
                example: https://api.1nce.com/management-api/v1/orders/1234
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid Payment Method:
                  value:
                    message: Payment method used is not valid.
              schema:
                title: Invalid Payment Method
                properties:
                  message:
                    example: Payment method used is not valid.
                    type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: SIM does not belong to user.
          content: {}
        '404':
          description: SIM not found.
          content: {}
        '422':
          description: The following SIMs are expired and cannot be modified via API. Only extensions are permitted
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
      x-codegen-request-body-name: sims
  /v1/sims/autoTopup:
    post:
      tags:
      - Volume Top Up
      summary: Enable Auto Top Up
      description: Trigger an auto top up configuration update for the given SIMs.
      operationId: autoTopupUsingPOST
      requestBody:
        description: Auto top up request with ICCIDs of SIMs where the auto top up configuration should be changed.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoTopupRequest'
        required: true
      responses:
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '422':
          description: The following SIMs are expired and cannot be modified via API. Only extensions are permitted
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
      x-codegen-request-body-name: request
  /v2/sims/{iccid}/topup:
    post:
      tags:
      - Volume Top Up
      summary: Create Single Top Up
      description: Top up the data/SMS volume of one specific SIM.
      operationId: topUpUsingPOST
      parameters:
      - name: iccid
        in: path
        description: The ICCID of the SIM to be topped up.
        required: true
        schema:
          type: string
        example: 8988280666000000000
      - name: payment_method
        in: query
        description: Optional payment method selection between creditcard, banktransfer, monthlyinvoice or boleto. If the parameter is left empty or is invalid, banktransfer is used as default for the top up order process.
        required: false
        schema:
          type: string
          enum:
          - banktransfer
          - creditcard
          - monthlyinvoice
          - boleto
          default: banktransfer
          example: banktransfer
      responses:
        '201':
          description: Order created successfully.
          headers:
            Location:
              description: The path to the newly created order.
              schema:
                type: string
                example: https://api.1nce.com/management-api/v2/orders/1234
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid Payment Method:
                  value:
                    message: Payment method used is not valid.
              schema:
                title: Invalid Payment Method
                properties:
                  message:
                    example: Payment method used is not valid.
                    type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: SIM does not belong to user.
          content: {}
        '404':
          description: SIM not found.
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
components:
  schemas:
    AutoTopupRequest:
      title: Auto Top Up Request
      type: object
      properties:
        enabled:
          type: boolean
          description: Boolean indicating wheather auto top up should be enabled or disabled for the given ICCIDs/SIMs.
        iccids:
          type: array
          description: A list of ICCIDs of SIMs where the auto top up configuration should be changed.
          items:
            type: string
            example: '8988280666000000000'
      description: Request with a flag for enabeling and disabeling auto top up for the listed ICCIDs.
  securitySchemes:
    BasicAuthentication:
      type: http
      scheme: basic
      description: Basic authentication used for obtaining the Bearer Authentication Token. The Bearer Token can then be used to make any further API calls towards the 1NCE API.
