openapi: 3.0.1
info:
  title: Authorization Administration Logs IoT Integrator API
  description: Documentation of the authentication used for the 1NCE APIs.
  contact:
    name: 1NCE GmbH
    url: https://1nce.com
    email: info@1nce.com
  version: v2.1.1
servers:
- url: https://api.1nce.com/management-api
tags:
- description: Integrate Devices and Clouds
  name: IoT Integrator
paths:
  /v1/integrate/devices/endpoints:
    get:
      description: Get details about the device endpoints.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get device endpoints
      tags:
      - IoT Integrator
  /v1/integrate/devices/endpoints/{protocol}:
    get:
      description: Get details about the device endpoint of a specific protocol.
      parameters:
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get single device endpoint
      tags:
      - IoT Integrator
    patch:
      description: Update endpoint related settings.
      parameters:
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema'
        description: The Body of the device endpoints patch request allows to update endpoint related settings.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch single device endpoint
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests:
    get:
      deprecated: true
      description: Get a list of device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages. The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SCHEDULED
          - IN_PROGRESS
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: IN_PROGRESS
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_1'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/active:
    get:
      description: Get a list of active device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages. The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SCHEDULED
          - IN_PROGRESS
          example: IN_PROGRESS
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActiveResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get active device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/archived:
    get:
      description: Get a list of archived device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages. The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: SUCCEEDED
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getArchivedResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get archived device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/requests:
    delete:
      description: Cancel all device action requests.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAllResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Cancel all device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/{requestId}:
    delete:
      description: Cancel single device action request.
      parameters:
      - description: ID of device action request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          example: <request_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Cancel single device action request
      tags:
      - IoT Integrator
    get:
      description: Get details about the device action request.
      parameters:
      - description: ID of device action request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          example: <request_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_1'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get single device action request
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/presharedkey:
    post:
      description: Post a new Custom Pre-Shared Key for a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPreSharedKeyschema'
        description: The Body for creating a new Custom Pre-Shared Key for a specific Device.The request body for setting a new Custom Pre-Shared Key for a specific Device.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/presharedkey/jobs:
    get:
      description: Get status of Pre-Shared Keys Import jobs for the last 30 days.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Pre-Shared Devices Keys Import Job Status
      tags:
      - IoT Integrator
    post:
      description: Import new Custom Pre-Shared Keys for multiple Devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema'
        description: Array of objects containing deviceId (same as iccid for 1NCE sims) and PreSharedKey.
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Import Pre-Shared Devices Keys
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/psk:
    post:
      description: Post a new Custom Pre-Shared Key for a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPreSharedKeyschema'
        description: The Body for creating a new Custom Pre-Shared Key for a specific Device.The request body for setting a new Custom Pre-Shared Key for a specific Device.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/psk/{protocol}:
    get:
      description: Get the Pre-Shared Key of a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/psk/jobs:
    get:
      description: Get status of Pre-Shared Keys Import jobs for the last 30 days.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Pre-Shared Devices Keys Import Job Status
      tags:
      - IoT Integrator
    post:
      description: Import new Custom Pre-Shared Keys for multiple Devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema'
        description: Array of objects containing deviceId (same as iccid for 1NCE sims) and PreSharedKey.
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Import Pre-Shared Devices Keys
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/LWM2M:
    post:
      description: Initiate LwM2M action like read, write, execute on specific device. It has to be connected to 1NCE LwM2M endpoint to invoke this event.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_1'
        description: The Body for posting new LWM2M action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific LwM2M Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/LWM2M:
    post:
      description: Initiate LwM2M actions like read, write, execute on the specified devices. The devices have to be connected to 1NCE LwM2M endpoint to invoke this event.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema'
        description: The Body for posting new LWM2M actions to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for LwM2M Devices.
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/COAP:
    post:
      description: Initiate CoAP action on specific device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_2'
        description: The Body for posting new CoAP action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific CoAP Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/COAP:
    post:
      description: Initiate CoAP action on the devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema_1'
        description: The Body for posting new CoAP actions to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for CoAP Devices.
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/UDP:
    post:
      description: Initiate UDP action on specific device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query. For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_3'
        description: The Body for posting new UDP action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific UDP Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/UDP:
    post:
      description: Initiate UDP action on devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema_2'
        description: The Body for posting new UDP action to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for UDP Devices.
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws/parameters:
    get:
      description: Get the URLs to download/rollout the customer CloudFormation stack templates.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCloudFormationParameters'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get CloudFormation Parameters
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws/{integrationId}/restart:
    post:
      description: Restart AWS integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_2'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Restart AWS Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws/{integrationId}/test:
    post:
      description: Test AWS integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_3'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Test AWS Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws:
    post:
      description: Creates AWS Integration, which becomes active only after customer Cloudformation stack is rolled out.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_6'
        description: The Body of the bridge creation post contains the ID and the JSON payload converting flag.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_4'
          description: Created AWS Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create AWS Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/{integrationId}:
    delete:
      description: Delete Integration for a specific customer.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Delete Integration
      tags:
      - IoT Integrator
    get:
      description: Get Customer Integration details
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_11'
          description: Customer Integration Details.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Customer Integration
      tags:
      - IoT Integrator
    patch:
      description: Patch Customer Integration
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_3'
        description: The Body for testing the patch integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema_1'
          description: Customer Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch Customer Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds:
    get:
      description: Get All Customer Integrations details
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_5'
          description: All Customer Integration Details.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get All Customer Integrations
      tags:
      - IoT Integrator
  /v1/integrate/clouds/eventTypes:
    get:
      description: Get Available Integration Event Types.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventTypesResponseschema'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Integration Event Types
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks:
    post:
      description: Creates Webhook Integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_7'
        description: The Body of the bridge creation post contains the ID and the JSON payload converting flag.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_5'
          description: Created Webhook Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}:
    patch:
      description: Patch Customer Webhook Integration
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_4'
        description: The Body for updating Webhook integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema_2'
          description: Customer Webhook Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch Customer Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}/restart:
    post:
      description: Restart Webhook integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_6'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Restart Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}/test:
    post:
      description: Test Webhook integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_7'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Test Webhook Integration
      tags:
      - IoT Integrator
components:
  schemas:
    postResponseschema_5:
      additionalProperties: false
      description: Post Webhook integration response
      properties:
        name:
          description: Name of the new Webhook integration.
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_4_eventTypes_inner'
          minItems: 1
          type: array
        state:
          description: State of the new Webhook integration.
          enum:
          - ROLLOUT_DONE
          - INTEGRATION_ACTIVE
          - INTEGRATION_FAILED
          example: ROLLOUT_DONE
          minLength: 1
          type: string
        type:
          description: Type of the new integration.
          enum:
          - WEBHOOK
          example: WEBHOOK
          minLength: 1
          type: string
        id:
          description: ID of the new Webhook integration.
          example: <integration_id>
          minLength: 1
          type: string
        createdTime:
          description: Created timestamp of the Webhook integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of the Webhook integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        headers:
          description: Headers of the new Webhook integration.
          type: object
        url:
          description: URL of the new Webhook integration.
          example: https://example.com
          format: uri
          minLength: 1
          type: string
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - createdTime
      - eventTypes
      - headers
      - id
      - jsonPayloadEnabled
      - name
      - state
      - type
      - updatedTime
      - url
      title: Webhook Integration response
      type: object
    bulkPostschema_2:
      additionalProperties: false
      description: Bulk Post UDP device action.
      properties:
        deviceIds:
          description: Devices that should receive the data
          items:
            example: <device_id>
            pattern: ^[a-zA-Z0-9_-]{1,}$
            type: string
          maxItems: 100
          minItems: 1
          type: array
        payload:
          description: Data that should be sent to the devices
          example: enable_sensor
          type: string
        payloadType:
          description: Type of the payload
          enum:
          - STRING
          - BASE64
          type: string
        port:
          description: Communication port number of the devices
          example: 3000
          maximum: 65535
          minimum: 1
          type: integer
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
      required:
      - deviceIds
      - payload
      - payloadType
      - port
      title: Device action request
      type: object
    postschema_6:
      additionalProperties: false
      description: Post AWS integration request
      properties:
        name:
          description: Name of the new AWS integration.
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postschema_6_eventTypes_inner'
          minItems: 1
          type: array
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - eventTypes
      - name
      title: AWS Integration request
      type: object
    patchschema:
      additionalProperties: false
      description: Patch status for device endpoint request.
      properties:
        active:
          deprecated: true
          description: Not used.
          example: true
          type: boolean
        settings:
          items:
            $ref: '#/components/schemas/patchschema_settings_inner'
          type: array
      required:
      - settings
      title: Device Endpoint Patch Request
      type: object
    getResponseschema_2_items_inner:
      additionalProperties: false
      properties:
        id:
          description: The unique ID of the import job.
          example: <job_id>
          type: string
        createdAt:
          description: Time when job created
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedAt:
          description: Time when job last updated
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        status:
          description: Status of the job.
          enum:
          - IN_PROGRESS
          - DONE
          type: string
        amount:
          description: Total number of device PSK to import
          example: 2
          type: number
        failed:
          description: Number of device PSK imports failed
          example: 1
          type: number
        done:
          description: Number of device PSK imports succeeded
          example: 1
          type: number
      required:
      - amount
      - createdAt
      - done
      - failed
      - id
      - status
      - updatedAt
      type: object
    getResponseschema_settings_inner:
      properties:
        name:
          description: Name of the setting.
          example: LWM2M_PASSIVE_REPORTING
          type: string
        state:
          description: State of the setting.
          enum:
          - ENABLED
          - DISABLED
          example: ENABLED
          type: string
        description:
          description: Description of the setting.
          example: This is an example description of a setting
          type: string
      required:
      - name
      - state
      type: object
    postschema_3:
      additionalProperties: false
      description: Post UDP device action.
      properties:
        payload:
          description: Data that should be sent to a device
          example: enable_sensor
          type: string
        payloadType:
          description: Type of the payload
          enum:
          - STRING
          - BASE64
          type: string
        port:
          description: Communication port number of a device
          example: 3000
          maximum: 65535
          minimum: 1
          type: integer
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
      required:
      - payload
      - payloadType
      - port
      title: Device action request
      type: object
    getAllResponseschema_items_inner:
      properties:
        protocol:
          description: The protocol of the endpoint.
          example: COAP
          type: string
        active:
          description: The current status of the endpoint.
          example: true
          type: boolean
        domain:
          description: The domain of the endpoint.
          example: coap.os.1nce.com
          type: string
        ipAddresses:
          items:
            description: The public IP addresses of the endpoint.
            example: 127.0.0.1
            type: string
          type: array
        port:
          description: The port of the endpoint.
          example: 5683
          type: number
        securePort:
          description: The port of the endpoint.
          example: 5684
          type: number
      required:
      - active
      - domain
      - ipAddresses
      - port
      - protocol
      type: object
    patchschema_3:
      additionalProperties: false
      description: Patch integration request
      properties:
        url:
          description: URL of the webhook (HTTPS required)
          example: https://www.example.com
          format: uri
          type: string
        headers:
          additionalProperties:
            type: string
          description: Headers that should be sent to the webhook. Only string values and no nested objects
          type: object
        eventTypes:
          description: A list of all event types
          items:
            $ref: '#/components/schemas/patchschema_3_eventTypes_inner'
          minItems: 1
          type: array
        jsonPayloadEnabled:
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      title: Integration request
      type: object
    patchResponseschema:
      additionalProperties: false
      description: Response to the patch device endpoints request.
      properties:
        protocol:
          description: The protocol of the endpoint.
          example: COAP
          type: string
        active:
          description: The current status of the endpoint.
          example: true
          type: boolean
        domain:
          description: The domain of the endpoint.
          example: coap.os.1nce.com
          type: string
        ipAddresses:
          items:
            description: The public IP addresses of the endpoint.
            example: 127.0.0.1
            type: string
          type: array
        port:
          description: The port of the endpoint.
          example: 5683
          type: number
        securePort:
          description: The port of the endpoint.
          example: 5684
          type: number
        settings:
          items:
            $ref: '#/components/schemas/getResponseschema_settings_inner'
          type: array
      required:
      - active
      - domain
      - ipAddresses
      - port
      - protocol
      - settings
      title: Patch Device Endpoints Response
      type: object
    getAllResponseschema_5_items_inner:
      properties:
        id:
          description: Unique ID of the Integration
          example: 2BLURnaUZSlbKp6vN1V5dYiJvC4
          minLength: 1
          type: string
        lastSuccessfulMessageDelivery:
          description: Timestamp of the first message successfully delivered to integration, in ISO 8601 format
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        name:
          description: name
          example: a-sample-integration-name
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_4_eventTypes_inner'
          minItems: 1
          type: array
        state:
          description: Current state of the Integration
          enum:
          - ROLLOUT_STARTED
          - ROLLOUT_DONE
          - ROLLOUT_FAILED
          - INTEGRATION_FAILED
          - INTEGRATION_ACTIVE
          type: string
        type:
          description: Type of the Integration
          enum:
          - AWS
          - WEBHOOK
          type: string
        createdTime:
          description: Created timestamp of Integration
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of Integration
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - createdTime
      - eventTypes
      - id
      - jsonPayloadEnabled
      - name
      - state
      - type
      - updatedTime
      type: object
    postschema_inner:
      additionalProperties: false
      properties:
        deviceId:
          description: The unique ID of the device.
          example: <device_id>
          type: string
        secretKey:
          description: Pre-shared secret key for a device.
          example: <custom_pre-shared_key>
          maxLength: 128
          minLength: 8
          type: string
        protocol:
          description: Protocol PSK is applied for
          enum:
          - COAP
          - LWM2M
          type: string
        format:
          description: The format in which the secret key was provided.
          enum:
          - STRING
          - HEX
          type: string
      required:
      - deviceId
      - protocol
      - secretKey
      type: object
    patchschema_settings_inner:
      properties:
        name:
          description: Name of the setting.
          enum:
          - LWM2M_PASSIVE_REPORTING
          type: string
        state:
          description: State of the setting.
          enum:
          - ENABLED
          - DISABLED
          example: ENABLED
          type: string
      required:
      - name
      - state
      type: object
    getArchivedResponseschema_items_inner:
      additionalProperties: false
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: SUCCEEDED
          type: string
        deviceId:
          description: The unique ID of the device.
          example: <device_id>
          type: string
        ip:
          description: The IP address of the device.
          example: x.x.x.x
          type: string
        protocol:
          description: The protocol of the request.
          enum:
          - UDP
          - COAP
          - LWM2M
          example: LWM2M
          type: string
        created:
          description: The timestamp at which the request was created.
          format: date-time
          type: string
        updated:
          description: The timestamp at which the request was updated.
          format: date-time
          type: string
        mode:
          description: The mode of the request.
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          example: SEND_NOW
          type: string
        resultData:
          description: Result data (can include response from device etc.).
          type: object
        requestData:
          description: Protocol specific request data.
          type: object
        sendAttemptsLeft:
          description: How many attempts are left to send data to the device
          example: 1
          maximum: 5
          minimum: 0
          type: number
        sendAttempts:
          description: The maximum number of attempts to send data to a device
          example: 3
          maximum: 5
          minimum: 1
          type: number
      required:
      - created
      - deviceId
      - id
      - ip
      - mode
      - protocol
      - status
      - updated
      type: object
    postResponseschema_3:
      additionalProperties: false
      description: Post AWS integration test response
      properties:
        testStatus:
          description: AWS integration test status.
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
          type: string
        message:
          description: AWS integration test message.
          example: Test was successful
          minLength: 1
          type: string
      required:
      - message
      - testStatus
      title: AWS Integration test response
      type: object
    getArchivedResponseschema:
      additionalProperties: false
      description: Response to the request to get archived device action requests.
      properties:
        items:
          description: An array of request items.
          items:
            $ref: '#/components/schemas/getArchivedResponseschema_items_inner'
          type: array
        page:
          description: The current page number of the requests.
          example: 1
          type: number
        pageAmount:
          description: The total amount of pages needed to show all requests.
          example: 10
          type: number
      required:
      - items
      - page
      - pageAmount
      title: Get Archived Device Action Requests Response
      type: object
    postschema_2:
      additionalProperties: false
      description: Post CoAP device action.
      properties:
        payload:
          description: Data that should be sent to a device
          example: enable_sensor
          type: string
        payloadType:
          description: Type of the payload
          enum:
          - STRING
          - BASE64
          type: string
        port:
          description: Communication port number of a device
          example: 3000
          maximum: 65535
          minimum: 1
          type: integer
        path:
          description: Absolute path to the resource
          example: example?param1=query_param_example
          pattern: ^[a-zA-Z0-9\-._~%:/?#@!$&'()*+,;=]{0,255}$
          type: string
        requestType:
          description: CoAP request type that should be sent
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          type: string
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
        sendAttempts:
          default: 1
          description: The maximum number of attempts to send data to a device
          maximum: 5
          minimum: 1
          type: number
      required:
      - path
      - port
      - requestType
      title: Device action request
      type: object
    postResponseschema_6_integration:
      additionalProperties: false
      properties:
        name:
          description: Name of the Webhook integration.
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        state:
          description: State of the Webhook integration.
          enum:
          - ROLLOUT_DONE
          - INTEGRATION_ACTIVE
          - INTEGRATION_FAILED
          example: INTEGRATION_ACTIVE
          type: string
        type:
          description: Type of the integration.
          enum:
          - WEBHOOK
          example: WEBHOOK
          type: string
        id:
          description: ID of the Webhook integration.
          example: <integration_id>
          minLength: 1
          type: string
        createdTime:
          description: Created timestamp of the Webhook integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of the Webhook integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        lastSuccessfulMessageDelivery:
          description: Timestamp of the first message successfully delivered to integration, in ISO 8601 format
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_2_integration_eventTypes_inner'
          minItems: 1
          type: array
      required:
      - createdTime
      - eventTypes
      - id
      - name
      - state
      - type
      - updatedTime
      type: object
    postResponseschema_2:
      additionalProperties: false
      description: Post AWS integration restart response
      properties:
        integration:
          $ref: '#/components/schemas/postResponseschema_2_integration'
        restartStatus:
          description: AWS integration restart status.
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
          type: string
        message:
          description: AWS integration restart message.
          example: Restart was successful
          minLength: 1
          type: string
      required:
      - integration
      - message
      - restartStatus
      title: AWS Integration restart response
      type: object
    bulkPostResponseschema:
      additionalProperties: false
      description: Post device action response.
      properties:
        acceptedRequests:
          description: successfully created action requests
          items:
            $ref: '#/components/schemas/bulkPostResponseschema_acceptedRequests_inner'
          type: array
        rejectedDevices:
          description: A list of devices for which it was not possible to send data.
          items:
            description: Id of the device.
            example: <device_id>
            type: string
          type: array
        message:
          description: Message describing the result of operation.
          example: Action write for resource /3/45/22 successfuly scheduled for device _vGxHeBL0dE9LG9EB2GHj.
          type: string
      required:
      - acceptedRequests
      - message
      - rejectedDevices
      title: Device action response
      type: object
    badRequestResponse:
      description: An API error response in case of an HTTP Bad Request.
      properties:
        statusCode:
          description: HTTP Response Code
          example: 400
          type: integer
        statusText:
          description: HTTP Status Text
          enum:
          - Bad Request
          type: string
        errors:
          description: Detailed error information.
          items:
            type: object
          type: array
      title: Bad Request
      type: object
    bulkPostschema:
      additionalProperties: false
      description: Bulk Post LwM2M device action.
      properties:
        deviceIds:
          description: Devices that should receive the data
          items:
            example: <device_id>
            pattern: ^[a-zA-Z0-9_-]{1,}$
            type: string
          maxItems: 100
          minItems: 1
          type: array
        action:
          default: read
          description: LwM2M action name to send to the devices.
          enum:
          - read
          - write
          - execute
          - observe-start
          - observe-end
          example: read
          type: string
        resourceAddress:
          description: LwM2M OMA object resource address.
          example: /3/45/22
          type: string
        data:
          description: Data which should be written to some resource, should be passed only in write operation.
          example: enable_sensor
          type: string
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
        sendAttempts:
          default: 1
          description: The maximum number of attempts to send data to the devices
          maximum: 5
          minimum: 1
          type: number
      required:
      - action
      - deviceIds
      - resourceAddress
      title: Device action request
      type: object
    unauthorizedRequestResponse:
      description: An API error response in case of an HTTP Unauthorized Request.
      properties:
        statusCode:
          description: HTTP Response Code
          example: 401
          type: integer
        statusText:
          description: HTTP Status Text
          enum:
          - Unauthorized
          type: string
        errors:
          description: Detailed error information.
          items:
            type: object
          type: array
      title: Unauthorized Request
      type: object
    postschema:
      description: Import of Pre-Shared Keys for multiple devices.
      items:
        $ref: '#/components/schemas/postschema_inner'
      maxItems: 5000
      minItems: 1
      title: Pre-Shared Keys import request.
      type: array
    getEventTypesResponseschema_eventTypes_inner:
      properties:
        name:
          description: Name of the event type.
          enum:
          - TELEMETRY_DATA
          - LIFECYCLE
          - ERROR
          - GEOFENCE
          - TEST_MESSAGE
          - LOCATION
          example: TELEMETRY_DATA
          minLength: 1
          type: string
        description:
          description: Description of the event type.
          minLength: 1
          type: string
        version:
          description: Version of the event type.
          example: 1.0.0
          minLength: 1
          type: string
        payload:
          description: Payload of the event type.
          type: object
      required:
      - description
      - name
      - payload
      - version
      type: object
    postResponseschema_4_eventTypes_inner:
      properties:
        type:
          description: Name of the event type
          enum:
          - TELEMETRY_DATA
          - LIFECYCLE
          - ERROR
          - GEOFENCE
          - LOCATION
          example: TELEMETRY_DATA
          type: string
        version:
          description: Version of the event type
          example: 1.0.0
          type: string
      required:
      - type
      - version
      type: object
    patchResponseschema_2:
      additionalProperties: false
      description: Patch Webhook integration response
      properties:
        name:
          description: Name of the integration.
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_4_eventTypes_inner'
          minItems: 1
          type: array
        state:
          description: State of the integration.
          enum:
          - ROLLOUT_DONE
          - INTEGRATION_ACTIVE
          - INTEGRATION_FAILED
          example: ROLLOUT_DONE
          minLength: 1
          type: string
        type:
          description: Type of the integration.
          enum:
          - WEBHOOK
          example: WEBHOOK
          minLength: 1
          type: string
        id:
          description: ID of the integration.
          example: <integration_id>
          minLength: 1
          type: string
        createdTime:
          description: Created timestamp of the integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of the integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        headers:
          description: Headers of the integration.
          type: object
        url:
          description: URL of the integration.
          example: https://example.com
          format: uri
          minLength: 1
          type: string
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - createdTime
      - eventTypes
      - headers
      - id
      - jsonPayloadEnabled
      - name
      - state
      - type
      - updatedTime
      - url
      title: Webhook Integration response
      type: object
    postschema_1:
      additionalProperties: false
      description: Post LwM2M device action.
      properties:
        action:
          default: read
          description: LwM2M action name to send to device.
          enum:
          - read
          - write
          - execute
          - observe-start
          - observe-end
          example: read
          type: string
        resourceAddress:
          description: LwM2M OMA object resource address.
          example: /3/45/22
          type: string
        data:
          description: Data which should be written to some resource, should be passed only in write operation.
          example: enable_sensor
          type: string
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
        sendAttempts:
          default: 1
          description: The maximum number of attempts to send data to a device
          maximum: 5
          minimum: 1
          type: number
      required:
      - action
      - resourceAddress
      title: Device action request
      type: object
    deleteAllResponseschema:
      description: Response to the request to cancel all device action requests.
      items:
        $ref: '#/components/schemas/deleteAllResponseschema_inner'
      title: Cancel All Device Action Requests Response
      type: array
    notFoundResponse:
      description: An API error response when a resource is Not Found.
      properties:
        statusCode:
          description: HTTP Response Code
          example: 404
          type: integer
        statusText:
          description: HTTP Status Text
          enum:
          - Not Found
          type: string
        errors:
          description: Detailed error information
          items:
            type: object
          type: array
      title: Not Found
      type: object
    postResponseschema:
      additionalProperties: false
      description: Post device action response.
      properties:
        id:
          description: Id of the created action request
          example: trxHeBL0d234fsfds
          type: string
        message:
          description: Message describing the result of operation.
          example: Action write for resource /3/45/22 successfuly scheduled for device _vGxHeBL0dE9LG9EB2GHj.
          type: string
      required:
      - id
      - message
      title: Device action response
      type: object
    getResponseschema_1:
      additionalProperties: false
      description: Response to the request to get device action request.
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - SCHEDULED
          - IN_PROGRESS
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: IN_PROGRESS
          type: string
        deviceId:
          description: The unique ID of the device.
          example: <device_id>
          type: string
        ip:
          description: The IP address of the device.
          example: x.x.x.x
          type: string
        protocol:
          description: The protocol of the request.
          example: LWM2M
          type: string
        created:
          description: The timestamp at which the request was created.
          format: date-time
          type: string
        updated:
          description: The timestamp at which the request was updated.
          format: date-time
          type: string
        mode:
          description: The mode of the request.
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          example: SEND_NOW
          type: string
        resultData:
          description: Result data (can include response from device etc.).
          type: object
        requestData:
          description: Protocol specific request data.
          type: object
        sendAttemptsLeft:
          description: How many attempts are left to send data to the device
          example: 1
          maximum: 5
          minimum: 0
          type: number
        sendAttempts:
          description: The maximum number of attempts to send data to a device
          example: 3
          maximum: 5
          minimum: 1
          type: number
      required:
      - created
      - deviceId
      - id
      - ip
      - mode
      - protocol
      - status
      - updated
      title: Get Device Action Request Response
      type: object
    patchResponseschema_1:
      additionalProperties: false
      description: Patch integration response
      properties:
        name:
          description: Name of the integration.
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_4_eventTypes_inner'
          minItems: 1
          type: array
        state:
          description: State of the integration.
          enum:
          - ROLLOUT_STARTED
          - ROLLOUT_DONE
          - ROLLOUT_FAILED
          - INTEGRATION_ACTIVE
          - INTEGRATION_FAILED
          example: ROLLOUT_DONE
          minLength: 1
          type: string
        type:
          description: Type of the integration.
          enum:
          - WEBHOOK
          - AWS
          example: WEBHOOK
          minLength: 1
          type: string
        id:
          description: ID of the integration.
          example: <integration_id>
          minLength: 1
          type: string
        createdTime:
          description: Created timestamp of the integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of the integration.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        awsAccountId:
          description: AWS Account Id where the stack was deployed, only showed when AWS Integration
          example: '123456789012'
          type: string
        region:
          description: AWS Region where the stack was deployed, only showed when AWS Integration
          example: eu-central-1
          type: string
        jwt:
          description: JWT token with details for integration stack creation
          example: <jwt_token>
          minLength: 1
          type: string
        headers:
          description: Headers of the integration.
          type: object
        url:
          description: URL of the integration.
          example: https://example.com
          format: uri
          minLength: 1
          type: string
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - createdTime
      - eventTypes
      - id
      - jsonPayloadEnabled
      - name
      - state
      - type
      - updatedTime
      title: Integration response
      type: object
    getCloudFormationParameters_awsIntegration_inner:
      properties:
        version:
          description: The specific version of a template.
          example: v2.1
          type: string
        url:
          description: The resource URL to the template.
          example: <template_url>
          type: string
      required:
      - url
      - version
      type: object
    getAllResponseschema_1_items_inner:
      additionalProperties: false
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - SCHEDULED
          - IN_PROGRESS
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: IN_PROGRESS
          type: string
        deviceId:
          description: The unique ID of the device.
          example: <device_id>
          type: string
        ip:
          description: The IP address of the device.
          example: x.x.x.x
          type: string
        protocol:
          description: The protocol of the request.
          example: LWM2M
          type: string
        created:
          description: The timestamp at which the request was created.
          format: date-time
          type: string
        updated:
          description: The timestamp at which the request was updated.
          format: date-time
          type: string
        mode:
          description: The mode of the request.
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          example: SEND_NOW
          type: string
        resultData:
          description: Result data (can include response from device etc.).
          type: object
        requestData:
          description: Protocol specific request data.
          type: object
        sendAttemptsLeft:
          description: How many attempts are left to send data to the device
          example: 1
          maximum: 5
          minimum: 0
          type: number
        sendAttempts:
          description: The maximum number of attempts to send data to a device
          example: 3
          maximum: 5
          minimum: 1
          type: number
      required:
      - created
      - deviceId
      - id
      - ip
      - mode
      - protocol
      - status
      - updated
      type: object
    conflictResponse:
      description: An API error response when a conflict is found.
      properties:
        statusCode:
          description: HTTP Response Code
          example: 409
          type: integer
        statusText:
          description: Http Status Text
          enum:
          - Conflict
          type: string
        errors:
          description: Detailed error information.
          items:
            type: object
          type: array
      title: Conflict
      type: object
    getAllResponseschema_1:
      additionalProperties: false
      description: Response to the request to get device action requests.
      properties:
        items:
          description: An array of request items.
          items:
            $ref: '#/components/schemas/getAllResponseschema_1_items_inner'
          type: array
        page:
          description: The current page number of the requests.
          example: 1
          type: number
        pageAmount:
          description: The total amount of pages needed to show all requests.
          example: 10
          type: number
      required:
      - items
      - page
      - pageAmount
      title: Get Device Action Requests Response
      type: object
    postResponseschema_7:
      additionalProperties: false
      description: Post Webhook integration test response
      properties:
        testStatus:
          description: Webhook integration test status.
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
          type: string
        message:
          description: Webhook integration test message.
          example: Test was successful
          minLength: 1
          type: string
      required:
      - message
      - testStatus
      title: Webhook Integration test response
      type: object
    getResponseschema_2:
      description: Get status of device PreSharedKey import job.
      properties:
        items:
          description: Customer import jobs data
          items:
            $ref: '#/components/schemas/getResponseschema_2_items_inner'
          type: array
        page:
          description: Current page number.
          example: 1
          minimum: 1
          type: number
        pageAmount:
          description: Total number of pages.
          example: 2
          minimum: 1
          type: number
      required:
      - items
      - page
      - pageAmount
      title: PSK import status Request
      type: object
    getResponseschema_11:
      description: Get Integration response
      properties:
        id:
          description: Unique ID of the Integration
          example: 2BLURnaUZSlbKp6vN1V5dYiJvC4
          minLength: 1
          type: string
        lastSuccessfulMessageDelivery:
          description: Timestamp of the first message successfully delivered to integration, in ISO 8601 format
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        name:
          description: name
          example: a-sample-integration-name
          minLength: 1
          type: string
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postResponseschema_4_eventTypes_inner'
          minItems: 1
          type: array
        state:
          description: Current state of the Integration
          enum:
          - ROLLOUT_STARTED
          - ROLLOUT_DONE
          - ROLLOUT_FAILED
          - INTEGRATION_FAILED
          - INTEGRATION_ACTIVE
          type: string
        type:
          description: Type of the Integration
          enum:
          - AWS
          - WEBHOOK
          type: string
        awsAccountId:
          description: AWS Account Id where the stack was deployed, only showed when AWS Integration
          example: '123456789012'
          type: string
        region:
          description: AWS Region where the stack was deployed, only showed when AWS Integration
          example: eu-central-1
          type: string
        error:
          description: Last error either during the creation of the Integration or during some attempt to integrate
          example: some error has just happened
          type: string
        jwt:
          description: JWT token with details for integration stack creation
          example: <jwt_token>
          minLength: 1
          type: string
        createdTime:
          description: Created timestamp of Integration
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedTime:
          description: Updated timestamp of Integration
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        url:
          description: URL of the Webhook Integration
          example: https://example.com
          format: uri
          minLength: 1
          type: string
        headers:
          description: Headers of the Webhook Integration
          type: object
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - createdTime
      - eventTypes
      - id
      - jsonPayloadEnabled
      - name
      - state
      - type
      - updatedTime
      title: Get Integration Response
      type: object
    postResponseschema_6:
      additionalProperties: false
      description: Post Webhook integration restart response
      properties:
        integration:
          $ref: '#/components/schemas/postResponseschema_6_integration'
        restartStatus:
          description: Webhook integration restart status.
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
          type: string
        message:
          description: Webhook integration restart message.
          example: Restart was successful
          minLength: 1
          type: string
      required:
      - integration
      - message
      - restartStatus
      title: Webhook Integration restart response
      type: object
    bulkPostschema_1:
      additionalProperties: false
      description: Bulk Post CoAP device action.
      properties:
        deviceIds:
          description: Devices that should receive the data
          items:
            example: <device_id>
            pattern: ^[a-zA-Z0-9_-]{1,}$
            type: string
          maxItems: 100
          minItems: 1
          type: array
        payload:
          description: Data that should be sent to the devices
          example: enable_sensor
          type: string
        payloadType:
          description: Type of the payload
          enum:
          - STRING
          - BASE64
          type: string
        port:
          description: Communication port number of the devices
          example: 3000
          maximum: 65535
          minimum: 1
          type: integer
        path:
          description: Absolute path to the resource
          example: example?param1=query_param_example
          pattern: ^[a-zA-Z0-9\-._~%:/?#@!$&'()*+,;=]{0,255}$
          type: string
        requestType:
          description: CoAP request type that should be sent
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          type: string
        requestMode:
          default: SEND_NOW
          description: Action request execution mode
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          type: string
        sendAttempts:
          default: 1
          description: The maximum number of attempts to send data to the devices
          maximum: 5
          minimum: 1
          type: number
      required:
      - deviceIds
      - path
      - port
      - requestType
      title: Device action request
      type: object
    postschema_6_eventTypes_inner:
      properties:
        type:
          description: Name of the event type
          enum:
          - TELEMETRY_DATA
          - LIFECYCLE
          - ERROR
          - GEOFENCE
          - LOCATION
          example: TELEMETRY_DATA
          type: string
        version:
          description: Version of the event type, if not provided latest version will be used
          example: 1.0.0
          type: string
      required:
      - type
      type: object
    bulkPostResponseschema_acceptedRequests_inner:
      properties:
        deviceId:
          description: Id of the device.
          example: <device_id>
          type: string
        requestId:
          description: Id of the request.
          example: <request_id>
          type: string
      type: object
    patchschema_4:
      additionalProperties: false
      description: Patch Webhook integration request
      properties:
        url:
          description: URL of the webhook (HTTPS required)
          example: https://www.example.com
          format: uri
          type: string
        headers:
          additionalProperties:
            type: string
          description: Headers that should be sent to the webhook. Only string values and no nested objects
          type: object
        eventTypes:
          description: A list of all event types
          items:
            $ref: '#/components/schemas/patchschema_3_eventTypes_inner'
          minItems: 1
          type: array
        jsonPayloadEnabled:
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      title: WebhookIntegration request
      type: object
    getEventTypesResponseschema:
      description: Get all event types response
      properties:
        eventTypes:
          description: List of event types
          items:
            $ref: '#/components/schemas/getEventTypesResponseschema_eventTypes_inner'
          type: array
      required:
      - eventTypes
      title: Get Event Types Response
      type: object
    postschema_7:
      additionalProperties: false
      description: Post Webhook integration request
      properties:
        name:
          description: Name of the new Webhook integration
          example: <integraton_name>
          maxLength: 128
          minLength: 1
          type: string
        url:
          description: URL of the webhook (HTTPS required)
          example: https://www.example.com
          format: uri
          type: string
        headers:
          additionalProperties:
            type: string
          description: Headers that should be sent to the webhook. Only string values and no nested objects
          type: object
        eventTypes:
          description: A list of event types
          items:
            $ref: '#/components/schemas/postschema_6_eventTypes_inner'
          minItems: 1
          type: array
        jsonPayloadEnabled:
          default: false
          description: Flag if the payloads of this integration should be bridged in JSON format.
          example: true
          type: boolean
      required:
      - eventTypes
      - headers
      - name
      - url
      title: Webhook Integration request
      type: object
    getActiveResponseschema_items_inner:
      additionalProperties: false
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - SCHEDULED
          - IN_PROGRESS
          example: IN_PROGRESS
          type: string
        deviceId:
          description: The unique ID of the device.
          example: <device_id>
          type: string
        ip:
          description: The IP address of the device.
          example: x.x.x.x
          type: string
        protocol:
          description: The protocol of the request.
          enum:
          - UDP
          - COAP
          - LWM2M
          example: LWM2M
          type: string
        created:
          description: The timestamp at which the request was created.
          format: date-time
          type: string
        updated:
          description: The timestamp at which the request was updated.
          format: date-time
          type: string
        mode:
          description: The mode of the request.
          enum:
          - SEND_NOW
          - SEND_WHEN_ACTIVE
          example: SEND_NOW
          type: string
        resultData:
          description: Result data (can include response from device etc.).
          type: object
        requestData:
          description: Protocol specific request data.
          type: object
        sendAttemptsLeft:
          description: How many attempts are left to send data to the device
          example: 1
          maximum: 5
          minimum: 0
          type: number
        sendAttempts:
          description: The maximum number of attempts to send data to a device
          example: 3
          maximum: 5
          minimum: 1
          type: number
      required:
      - created
      - deviceId
      - id
      - ip
      - mode
      - protocol
      - status
      - updated
      type: object
    getResponseschema:
      additionalProperties: false
      description: Response to the get device endpoints request.
      properties:
        protocol:
          description: The protocol of the endpoint.
          example: COAP
          type: string
        active:
          description: The current status of the endpoint.
          example: true
          type: boolean
        domain:
          description: The domain of the endpoint.
          example: coap.os.1nce.com
          type: string
        ipAddresses:
          items:
            description: The public IP addresses of the endpoint.
            example: 127.0.0.1
            type: string
          type: array
        port:
          description: The port of the endpoint.
          example: 5683
          type: number
        securePort:
          description: The port of the endpoint.
          example: 5684
          type: number
        settings:
          items:
            $ref: '#/components/schemas/getResponseschema_settings_inner'
          type: array
      required:
      - active
      - domain
      - ipAddresses
      - port
      - protocol
      title: Get Device Endpoints Response
      type: object
    getCloudFormationParameters:
      additionalProperties: false
      description: Get the CloudFormation parameters currently configured.
      properties:
        awsIntegration:
          description: A list of all aws cloud connection integration templates and their respective versions.
          items:
            $ref: '#/components/schemas/getCloudFormationParameters_awsIntegration_inner'
          type: array
      required:
      - awsIntegration
      title: Get CloudFormation Parameters Response
      type: object
    postPreSharedKeyschema:
      additionalProperties: false
      description: Post a pre-shared key for a specific device.
      properties:
        secretKey:
          description: Pre-shared secret key for a device.
          example: <custom_pre-shared_key>
          maxLength: 256
          minLength: 8
          type: string
        protocol:
          description: Protocol PSK is applied for
          enum:
          - COAP
          - LWM2M
          type: string
        format:
          description: The format in which the secret key was provided.
          enum:
          - STRING
          - HEX
          type: string
      required:
      - protocol
      - secretKey
      title: Pre-shared key post request.
      type: object
    getAllResponseschema:
      additionalProperties: false
      description: Response to the get device endpoints request.
      properties:
        items:
          description: An array of endpoint items.
          items:
            $ref: '#/components/schemas/getAllResponseschema_items_inner'
          type: array
        page:
          description: The current page number of the endpoints.
          example: 1
          type: number
        pageAmount:
          description: The total amount of pages needed to show all endpoints.
          example: 10
          type: number
      required:
      - items
      - page
      - pageAmount
      title: Get Device Endpoints Response
      type: object
    deleteResponseschema:
      additionalProperties: false
      description: Response to the request to cancel device action request.
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - CANCELLED
          example: CANCELLED
          type: string
      required:
      - id
      - status
      title: Cancel Device Action Request Response
      type: object
    postResponseschema_2_integration_eventTypes_inner:
      properties:
        type:
          description: Name of the event type
          enum:
          - TELEMETRY_DATA
          - LIFECYCLE
          - ERROR
          - GEOFENCE
          - LOCATION
          example: TELEMETRY_DATA
          type: string
        version:
          description: Version of the event type
          example: 1.0.0
          type: string
      required:
      - type
      type: object
    deleteAllResponseschema_inner:
      additionalProperties: false
      properties:
        id:
          description: The ID of the request.
          example: <request_id>
          type: string
        status:
          description: The status of the request.
          enum:
          - CANCELLED
          example: CANCELLED
          type: string
      required:
      - id
      - status
      type: object
    serverErrorResponse:
      description: An API error response in case of a Server Side Error.
      properties:
        statusText:
          description: HTTP Status Text
          enum:
          - Unknown Error
          - Server Error
          type: string
        errors:
          description: List of errors encountered while calling the API.
          items:
            type: object
          type: array
      title: Server Error
      type: object
    postPreSharedKeyResponseschema:
      additionalProperties: false
      description: Post pre-shared key response.
      properties:
        deviceId:
          description: Identifier of the device.
          example: <device_id>
          minLength: 1
          type: string
        identity:
          description: Client identity of the pre-shared key.
          example: <identity>
          minLength: 1
          type: string
        secretKey:
          description: Secret key of the pre-shared key.
          example: <secret_key>
          maxLength: 256
          minLength: 8
          type: string
        createdAt:
          description: Created timestamp of the pre-shared key.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        updatedAt:
          description: Updated timestamp of the pre-shared key.
          example: '2022-03-07T08:51:29.015Z'
          format: date-time
          type: string
        protocol:
          description: Protocol PSK is applied for
          enum:
          - COAP
          - LWM2M
          type: string
        format:
          description: The format in which the secret key was provided.
          enum:
          - STRING
          - HEX
          type: string
      required:
      - createdAt
      - deviceId
      - format
      - identity
      - protocol
      - secretKey
      - updatedAt
      title: Pre-shared key response.
      type: object
    getActiveResponseschema:
      additionalProperties: false
      description: Response to the request to get active device action requests.
      properties:
        items:
          description: An array of request items.
          items:
            $ref: '#/components/schemas/getActiveResponseschema_items_inner'
          type: array
        page:
          description: The current page number of the requests.
          example: 1
          type: number
        pageAmount:
[...]
