openapi: 3.2.0
info:
  contact:
    email: info@1nce.com
    name: 1NCE GmbH
    url: https://1nce.com
  description: Documentation of the 1NCE OS API which can be used for managing the 1NCE OS Service.
  title: 1NCE OS Agreements API
  version: v1.3
servers:
- url: https://api.1nce.com/management-api
tags:
- description: 1NCE OS Agreements
  name: Agreements
paths:
  /v1/agreements/1nceos:
    post:
      description: Post request to accept the 1NCE OS Terms of Use and Data Processing agreements. Please note that with this request the agreements can only be accepted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAgreementsRequestschema'
        description: The Body of the agreements post contains the accept flag as JSON.
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Accept 1NCE OS Agreements
      tags:
      - Agreements
      operationId: postV1Agreements1nceos
      x-operation-id-source: derived
components:
  schemas:
    postAgreementsRequestschema:
      description: The agreements acceptance request model.
      properties:
        accepted:
          default: true
          description: Flag indicating that the Terms of Use and Data Processing agreeements are accepted. Please note that only true is accepted.
          type: boolean
      required:
      - accepted
      title: Post Agreements Accepted
      type: object
    serverErrorResponse:
      description: An API error response in case of a Server Side Error.
      properties:
        statusText:
          description: HTTP Status Text
          enum:
          - Unknown Error
          - Server Error
          type: string
        errors:
          description: List of errors encountered while calling the API.
          items:
            type: object
          type: array
      title: Server Error
      type: object
    badRequestResponse:
      description: An API error response in case of an HTTP Bad Request.
      properties:
        statusCode:
          description: HTTP Response Code
          example: 400
          type: integer
        statusText:
          description: HTTP Status Text
          enum:
          - Bad Request
          type: string
        errors:
          description: Detailed error information.
          items:
            type: object
          type: array
      title: Bad Request
      type: object
  responses:
    BadRequestError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/badRequestResponse'
      description: Bad Request
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/serverErrorResponse'
      description: Internal Server Error
  securitySchemes:
    BearerAuthentication:
      description: Bearer Authentication Token used to gain access to the 1NCE API. Please refer to the Open Authorization (/oauth/token) request for obtaining a Bearer Token.
      scheme: bearer
      type: http
