openapi: 3.0.1
info:
  contact:
    email: info@1nce.com
    name: 1NCE GmbH
    url: https://1nce.com
  description: Documentation of the 1NCE OS API which can be used for managing the 1NCE OS Service.
  title: 1NCE OS
  version: v1.3
servers:
- url: https://api.1nce.com/management-api
tags:
- description: Integrate Devices and Clouds
  name: IoT Integrator
- description: Optimize energy consumption
  name: Optimizer
- description: Inspect details of the devices
  name: Device Inspector
- description: Get device positions and manage geofences
  name: Device Locator
- description: 1NCE OS Agreements
  name: Agreements
- description: 1NCE OS Administration Logs
  name: Administration Logs
- description: Device Management
  name: Devices
- description: 1NCE OS Settings
  name: Settings
- description: 1NCE OS Plugin System
  name: Plugin system
paths:
  /v1/integrate/devices/endpoints:
    get:
      description: Get details about the device endpoints.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get device endpoints
      tags:
      - IoT Integrator
  /v1/integrate/devices/endpoints/{protocol}:
    get:
      description: Get details about the device endpoint of a specific protocol.
      parameters:
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get single device endpoint
      tags:
      - IoT Integrator
    patch:
      description: Update endpoint related settings.
      parameters:
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema'
        description: The Body of the device endpoints patch request allows to update endpoint related settings.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch single device endpoint
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests:
    get:
      deprecated: true
      description: Get a list of device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SCHEDULED
          - IN_PROGRESS
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: IN_PROGRESS
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_1'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/active:
    get:
      description: Get a list of active device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - SCHEDULED
          - IN_PROGRESS
          example: IN_PROGRESS
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActiveResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get active device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/archived:
    get:
      description: Get a list of archived device action requests in the last 7 days.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - FAILED
          - SUCCEEDED
          - CANCELLED
          example: SUCCEEDED
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created
          enum:
          - created
          - -created
          - updated
          - -updated
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getArchivedResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get archived device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/requests:
    delete:
      description: Cancel all device action requests.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAllResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Cancel all device action requests
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/requests/{requestId}:
    delete:
      description: Cancel single device action request.
      parameters:
      - description: ID of device action request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          example: <request_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Cancel single device action request
      tags:
      - IoT Integrator
    get:
      description: Get details about the device action request.
      parameters:
      - description: ID of device action request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          example: <request_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_1'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get single device action request
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/presharedkey:
    post:
      description: Post a new Custom Pre-Shared Key for a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPreSharedKeyschema'
        description: The Body for creating a new Custom Pre-Shared Key for a specific Device.The request body for setting
          a new Custom Pre-Shared Key for a specific Device.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/presharedkey/jobs:
    get:
      description: Get status of Pre-Shared Keys Import jobs for the last 30 days.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Pre-Shared Devices Keys Import Job Status
      tags:
      - IoT Integrator
    post:
      description: Import new Custom Pre-Shared Keys for multiple Devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema'
        description: Array of objects containing deviceId (same as iccid for 1NCE sims) and PreSharedKey.
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Import Pre-Shared Devices Keys
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/psk:
    post:
      description: Post a new Custom Pre-Shared Key for a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPreSharedKeyschema'
        description: The Body for creating a new Custom Pre-Shared Key for a specific Device.The request body for setting
          a new Custom Pre-Shared Key for a specific Device.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/psk/{protocol}:
    get:
      description: Get the Pre-Shared Key of a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: 'Available protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: false
        in: path
        name: protocol
        required: true
        schema:
          example: COAP
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPreSharedKeyResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Pre-Shared Device Key
      tags:
      - IoT Integrator
  /v1/integrate/devices/psk/jobs:
    get:
      description: Get status of Pre-Shared Keys Import jobs for the last 30 days.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Pre-Shared Devices Keys Import Job Status
      tags:
      - IoT Integrator
    post:
      description: Import new Custom Pre-Shared Keys for multiple Devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema'
        description: Array of objects containing deviceId (same as iccid for 1NCE sims) and PreSharedKey.
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Import Pre-Shared Devices Keys
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/LWM2M:
    post:
      description: Initiate LwM2M action like read, write, execute on specific device. It has to be connected to 1NCE LwM2M
        endpoint to invoke this event.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_1'
        description: The Body for posting new LWM2M action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific LwM2M Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/LWM2M:
    post:
      description: Initiate LwM2M actions like read, write, execute on the specified devices. The devices have to be connected
        to 1NCE LwM2M endpoint to invoke this event.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema'
        description: The Body for posting new LWM2M actions to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for LwM2M Devices.
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/COAP:
    post:
      description: Initiate CoAP action on specific device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_2'
        description: The Body for posting new CoAP action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific CoAP Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/COAP:
    post:
      description: Initiate CoAP action on the devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema_1'
        description: The Body for posting new CoAP actions to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for CoAP Devices.
      tags:
      - IoT Integrator
  /v1/integrate/devices/{deviceId}/actions/UDP:
    post:
      description: Initiate UDP action on specific device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_3'
        description: The Body for posting new UDP action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific UDP Device.
      tags:
      - IoT Integrator
  /v1/integrate/devices/actions/UDP:
    post:
      description: Initiate UDP action on devices.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPostschema_2'
        description: The Body for posting new UDP action to the devices.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkPostResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Requests for UDP Devices.
      tags:
      - IoT Integrator
  /v1/optimize/messages/test:
    post:
      description: Test a template with a sample input message.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_4'
        description: The Body of the template tester post request.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_1'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Test template
      tags:
      - Optimizer
  /v1/optimize/savings:
    get:
      description: Get statistics about the savings by using the optimizer.
      parameters:
      - description: Specify the range in days to receive data about.
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: '1'
          enum:
          - '1'
          - '7'
          - '30'
          example: '1'
          type: string
        style: form
      - description: 'Filter out by specific protocols: <ul><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          enum:
          - UDP
          - COAP
          example: COAP
          type: string
        style: form
      - description: ICCID of a SIM device, used to identifiy each 1NCE SIM.
        explode: true
        in: query
        name: iccid
        required: false
        schema:
          example: '8988280666000000000'
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_3'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get savings
      tags:
      - Optimizer
  /v1/agreements/1nceos:
    post:
      description: Post request to accept the 1NCE OS Terms of Use and Data Processing agreements. Please note that with this
        request the agreements can only be accepted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAgreementsRequestschema'
        description: The Body of the agreements post contains the accept flag as JSON.
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Accept 1NCE OS Agreements
      tags:
      - Agreements
  /v1/integrate/clouds/aws/parameters:
    get:
      description: Get the URLs to download/rollout the customer CloudFormation stack templates.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCloudFormationParameters'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get CloudFormation Parameters
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws/{integrationId}/restart:
    post:
      description: Restart AWS integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_2'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Restart AWS Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/aws/{integrationId}/test:
    post:
      description: Test AWS integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_3'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Test AWS Integration
      tags:
      - IoT Integrator
  /v1/administrationLogs:
    get:
      description: Get a list of the administration logs regarding the organization.
      parameters:
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: 'Filter parameter in <i>{filter}:{value}</i> format. Expects comma separated list of filtering criteria
          out of the following fields: <ul><li>geofenceId</li><li>category</li><li>iccid</li><li>type</li><li>startDateTime
          (UTC)</li><li>endDateTime (UTC)</li></ul><p><b>Example:</b> "type:device,iccid:ICCID,startDateTime:2022-11-14T16:04:38.000Z"</p>'
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: type:device,iccid:<iccid>;startDateTime:<utc_date>
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAdministrationLogsResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Administration Logs
      tags:
      - Administration Logs
  /v1/administrationLogs/stats:
    get:
      description: Get the administration logs statistics for the current organization.
      parameters:
      - description: Specify the needed timezone as string parameter (e.g., Europe/Amsterdam) for the resulting query output.
        explode: true
        in: query
        name: timezone
        required: true
        schema:
          default: Europe/Amsterdam
          example: Europe/Amsterdam
          type: string
        style: form
      - description: Specify the category as string parameter for the resulting query output.
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - info
          - error
          example: info
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAdministrationLogsStatisticsResponseschema'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Administration Logs Statistics
      tags:
      - Administration Logs
  /v1/administrationLogs/{adminLogId}/payload:
    get:
      description: Get a URL pointing to a single administration log payload. The received URL will trigger a download.
      parameters:
      - description: Unique Id of the administration log for which the payload should be queried.
        explode: false
        in: path
        name: adminLogId
        required: true
        schema:
          example: <admin_log_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            text/x-uri:
              schema:
                description: URL to the payload of the requested administration log.
                example: <admin_log_url>
                type: string
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Administration Log Payload
      tags:
      - Administration Logs
  /v1/optimize/templates:
    get:
      description: Get all Translation Service Templates for the current organization.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTranslationTemplatesResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Optimizer Templates
      tags:
      - Optimizer
    post:
      description: Create a new Translation Service Template.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTranslationTemplateRequestschema'
        description: The Body for the creation of a new Optimizer Template needs to contain the name, template in JSON format
          and protocol filter.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPatchTranslationTemplatesResponseschema'
          description: Created
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Optimizer Template
      tags:
      - Optimizer
  /v1/optimize/templates/{templateId}:
    delete:
      description: Delete a specific Optimizer Template.
      parameters:
      - description: Unique Id of the Optimizer Template which should be deleted.
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: No Content
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Delete Optimizer Template
      tags:
      - Optimizer
    patch:
      description: Update a specific Optimizer Template.
      parameters:
      - description: Unique Id of the Optimizer Template for which the update should be applied.
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          example: <template_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchTranslationTemplateRequestschema'
        description: The Body of the update contains the name, template in JSON format and the protocol filter parameter.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postPatchTranslationTemplatesResponseschema'
          description: OK
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Update Optimizer Template
      tags:
      - Optimizer
  /v1/inspect/devices:
    get:
      description: Get a list of all the Customer SIMs/Devices for the current organisation in the 1NCE OS.
      parameters:
      - description: Number of the requested devices page. Use this parameter to iterate through all devices on the different
          pages. The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Sort values based on keys that are listed as a comma seperated list, prepend "-" for descending order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: iccid,-ip
          type: string
        style: form
      - description: 'Filter parameter in <i>{filter}:{value}</i> format. Comma separated list of filtering criteria out of
          the following fields: <ul><li>iccid</li></ul><p><b>Example:</b> "iccid:8988280666000000000"</p>'
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: iccid:8988280666000000000
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_2'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get All Devices
      tags:
      - Device Inspector
  /v1/inspect/devices/{deviceId}:
    get:
      description: Get detailed metadata from one specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_4'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Single Device
      tags:
      - Device Inspector
  /v1/devices/{deviceId}/actions:
    post:
      description: Initiate LwM2M action like read, write, execute on specific device. It has to be connected to 1NCE LwM2M
        endpoint to invoke this event.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_1'
        description: The Body for posting new LWM2M action to device.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema'
          description: Message describing the result of operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Action Request On Specific LwM2M Device.
      tags:
      - Devices
  /v1/inspect/devices/{deviceId}/telemetry:
    get:
      description: Get the current/last repored Shadow State (telemetry) Data for a specific Device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: 'Filter out shadow state data for specific protocol: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_5'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Device Telemetry
      tags:
      - Device Inspector
  /v1/inspect/devices/{deviceId}/history:
    get:
      description: Get historic message data for a specific SIM device.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: Timestamp from where onwards the historic data messages should be queried.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-03-07T08:51:29.015Z'
          type: string
        style: form
      - description: Timestamp until when the historic data messages should be queried.
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-03-07T09:51:29.015Z'
          type: string
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - description: This API query uses token-based pagination. Each queried page will include a nextToken for accessing
          the next page for pagination. Please use the returned token in the nextToken query parameters to obtain the next
          page.
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: <next_token>
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_6'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Device Historian Messages
      tags:
      - Device Inspector
  /v1/inspect/devices/history:
    get:
      description: Get a list of historic messages for devices based on the optional filter parameters.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: ICCID of a SIM device, used to identifiy each 1NCE SIM.
        explode: true
        in: query
        name: iccid
        required: false
        schema:
          example: '8988280666000000000'
          type: string
        style: form
      - description: Timestamp from where onwards the historic data messages should be queried.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-03-07T08:51:29.015Z'
          type: string
        style: form
      - description: Timestamp until when the historic data messages should be queried.
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-03-07T09:51:29.015Z'
          type: string
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - description: This API query uses token-based pagination. Each queried page will include a nextToken for accessing
          the next page for pagination. Please use the returned token in the nextToken query parameters to obtain the next
          page.
        explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: <next_token>
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_3'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Historian Messages
      tags:
      - Device Inspector
  /v1/inspect/devices/{deviceId}/history/insights:
    get:
      description: Get insights of a unique SIM device for the Historian.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: Timestamp from where onwards the historic data messages should be queried.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-03-07T08:51:29.015Z'
          type: string
        style: form
      - description: Timestamp until when the historic data messages should be queried.
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-03-07T09:51:29.015Z'
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - description: The interval for which grouping of statistics should occur.
        explode: true
        in: query
        name: interval
        required: false
        schema:
          example: 1d
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_7'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Device Historian Insights
      tags:
      - Device Inspector
  /v1/inspect/devices/history/insights:
    get:
      description: Get insights for all devices from the Historian based on the optional filters.
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: ICCID of a SIM device, used to identifiy each 1NCE SIM.
        explode: true
        in: query
        name: iccid
        required: false
        schema:
          example: '8988280666000000000'
          type: string
        style: form
      - description: Timestamp from where onwards the historic data messages should be queried.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-03-07T08:51:29.015Z'
          type: string
        style: form
      - description: Timestamp until when the historic data messages should be queried.
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-03-07T09:51:29.015Z'
          type: string
        style: form
      - description: 'Filter out data for specific protocols: <ul><li>LWM2M</li><li>UDP</li><li>COAP</li></ul>'
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          example: COAP
          type: string
        style: form
      - description: The interval for which grouping of statistics should occur.
        explode: true
        in: query
        name: interval
        required: false
        schema:
          example: 1d
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_4'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Historian Insights
      tags:
      - Device Inspector
  /v1/locate/devices/{deviceId}/positions:
    get:
      description: 'Get positions of a specific device (maximum of last 7 days).

        ![Creative Commons License](https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg) [OpenCelliD
        Project](https://opencellid.org/) is licensed under a [Creative Commons Attribution-ShareAlike 4.0 International License](https://creativecommons.org/licenses/by-sa/4.0/)

        '
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Comma seperated list of device property keys in order. Prefix key with `-` to sort descending.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            default: -sampleTime
            type: string
          type: array
        style: form
      - description: Source of the position.
        explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - GPS
          - CellTower
          type: string
        style: form
      - explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:01.000Z'
          type: string
        style: form
      - explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:02Z'
          type: string
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Use ALL for a paginated list of all positions and SUMMARY to get the first, last and some positions inbetween.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - SUMMARY
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_8'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Device Positions
      tags:
      - Device Locator
  /v1/locate/positions/latest:
    get:
      description: 'Get latest positions of customer devices (maximum of last 7 days). Only one latest position is possible
        for a single device independent of source: either Celltower or GPS. This means that `source` query parameter selection
        can lead to no latest position returned for some devices.

        ![Creative Commons License](https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg) [OpenCelliD
        Project](https://opencellid.org/) is licensed under a [Creative Commons Attribution-ShareAlike 4.0 International License](https://creativecommons.org/licenses/by-sa/4.0/)

        '
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Comma seperated list of device property keys in order. Prefix key with `-` to sort descending.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          items:
            default: -sampleTime
            type: string
          type: array
        style: form
      - description: Source of the position.
        explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - GPS
          - CellTower
          type: string
        style: form
      - explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:01.000Z'
          type: string
        style: form
      - explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:02Z'
          type: string
        style: form
      - explode: true
        in: query
        name: longitudeFrom
        required: false
        schema:
          example: -10
          maximum: 180
          minimum: -180
          type: number
        style: form
      - explode: true
        in: query
        name: longitudeTo
        required: false
        schema:
          example: 10
          maximum: 180
          minimum: -180
          type: number
        style: form
      - explode: true
        in: query
        name: latitudeFrom
        required: false
        schema:
          example: -10
          maximum: 90
          minimum: -90
          type: number
        style: form
      - explode: true
        in: query
        name: latitudeTo
        required: false
        schema:
          example: 10
          maximum: 90
          minimum: -90
          type: number
        style: form
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLatestResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Latest Devices Positions
      tags:
      - Device Locator
  /v1/locate/devices/{deviceId}/activity:
    get:
      description: 'Get Cell location resolutions for one device (maximum of last 7 days).

        ![Creative Commons License](https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg) [OpenCelliD
        Project](https://opencellid.org/) is licensed under a [Creative Commons Attribution-ShareAlike 4.0 International License](https://creativecommons.org/licenses/by-sa/4.0/)

        '
      parameters:
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: <device_id>
          type: string
        style: simple
      - description: Timestamp from where onwards the historic data should be queried. If not provided while "endDateTime"
          is provided defaults to 1 day before "endDateTime" timestamp, otherwise defaults to 1 day from now
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:01.000Z'
          type: string
        style: form
      - description: Timestamp up to where the historic data should be queried. If not provided while "startDateTime" is provided
          defaults to 1 day after "startDateTime" timestamp, otherwise defaults to now
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          example: '2022-01-01T01:01:02.000Z'
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_9'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Device Celltower location resolutions
      tags:
      - Device Locator
  /v1/devices/stats:
    get:
      description: Get general statistics related to customer devices
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statisticsschema'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Devices Statistics
      tags:
      - Devices
  /v1/locate/geofences:
    get:
      description: 'Get an overview of all geofences.

        Rate limits apply for this endpoint. See [Rate Limit Policy](https://help.1nce.com/api/api-rate-limits/).

        '
      parameters:
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Name or Prefix of Geofence
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The unique device ID which identifies each 1NCE SIM. Can be obtained from the Get All Devices API query.
          For 1NCE SIMS the device ID is equal to its iccid.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          example: <device_id>
          type: string
        style: form
      - description: scope of geofences
        explode: true
        in: query
        name: scope
        required: false
        schema:
          enum:
          - global
          - device
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllGeofenceResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get all geofences
      tags:
      - Device Locator
    post:
      description: Create a new geofence.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_5'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGeofenceResponseschema'
          description: Created
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create geofence
      tags:
      - Device Locator
  /v1/locate/geofences/{geofenceId}:
    delete:
      description: Delete a geofence.
      parameters:
      - description: unique geofence ID
        explode: false
        in: path
        name: geofenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: Deleted
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Delete geofence
      tags:
      - Device Locator
    get:
      description: Get details of a geofence.
      parameters:
      - description: unique geofence ID
        explode: false
        in: path
        name: geofenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGeofenceResponseschema'
          description: OK
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get a geofence
      tags:
      - Device Locator
    patch:
      description: Update an existing geofence
      parameters:
      - description: unique geofence ID
        explode: false
        in: path
        name: geofenceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_1'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchGeofenceResponseschema'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch a geofence
      tags:
      - Device Locator
  /v1/settings/1nceos/{name}:
    patch:
      description: 'Enables or disables different settings for the 1NCE OS integration of a customer.


        Disclaimer: I acknowledge that activating the location feature involves processing nearby Cell Tower data by 1NCE.
        1NCE processing of data is done anonymously. I understand that if the use of the service by me makes it linkable to
        individuals, additional data related responsibilities may apply. As per 1NCE General Terms and Conditions (GTC), I
        am solely responsible for complying with Data Protection laws and regulations and obtaining necessary consents.

        '
      parameters:
      - description: Key name parameter of the setting to update.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: LWM2M_PASSIVE_REPORTING
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_2'
        description: The Body for the updating of customer settings. Must contain state which can be either ENABLED or DISABLED.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchSettingResponseschema'
          description: An object describing a setting
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch Settings
      tags:
      - Settings
  /v1/settings/1nceos:
    get:
      description: Gets customer settings related to 1NCE OS.
      parameters:
      - description: Parameter for specifying the queried items per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: Number of the requested page. Use this parameter to iterate through all items on the different pages.
          The total amount of pages is listed in the response body (pageAmount).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Identifies in what language the description should be returned.
        explode: true
        in: query
        name: language
        required: false
        schema:
          enum:
          - en
          - de
          example: en
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_10'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get customer settings
      tags:
      - Settings
  /v1/integrate/clouds/aws:
    post:
      description: Creates AWS Integration, which becomes active only after customer Cloudformation stack is rolled out.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_6'
        description: The Body of the bridge creation post contains the ID and the JSON payload converting flag.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_4'
          description: Created AWS Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create AWS Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/{integrationId}:
    delete:
      description: Delete Integration for a specific customer.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Delete Integration
      tags:
      - IoT Integrator
    get:
      description: Get Customer Integration details
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getResponseschema_11'
          description: Customer Integration Details.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Customer Integration
      tags:
      - IoT Integrator
    patch:
      description: Patch Customer Integration
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_3'
        description: The Body for testing the patch integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema_1'
          description: Customer Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch Customer Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds:
    get:
      description: Get All Customer Integrations details
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_5'
          description: All Customer Integration Details.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get All Customer Integrations
      tags:
      - IoT Integrator
  /v1/integrate/clouds/eventTypes:
    get:
      description: Get Available Integration Event Types.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventTypesResponseschema'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get Integration Event Types
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks:
    post:
      description: Creates Webhook Integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_7'
        description: The Body of the bridge creation post contains the ID and the JSON payload converting flag.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_5'
          description: Created Webhook Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Create Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}:
    patch:
      description: Patch Customer Webhook Integration
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchschema_4'
        description: The Body for updating Webhook integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchResponseschema_2'
          description: Customer Webhook Integration Details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Patch Customer Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}/restart:
    post:
      description: Restart Webhook integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_6'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Restart Webhook Integration
      tags:
      - IoT Integrator
  /v1/integrate/clouds/webhooks/{integrationId}/test:
    post:
      description: Test Webhook integration by forwarding test message to the integration.
      parameters:
      - description: unique integration ID
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_7'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Test Webhook Integration
      tags:
      - IoT Integrator
  /v1/partners/DATACAKE/plugins:
    post:
      description: Allows setting up an integration with Datacake workspace to allow data transfer from 1NCE OS.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_8'
        description: The request body to setup the Datacake plugin.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_8'
          description: Successful Datacake plugin installation response details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Install Datacake plugin for 1NCE OS
      tags:
      - Plugin system
  /v1/partners/MENDER/plugins:
    post:
      description: Allows setting up an integration with Mender to allow seamless firmware update management via 1NCE OS CoAP
        proxy. Public and private keys are optional fields, but if they are used, both must be provided
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_9'
        description: The request body to setup the Mender plugin.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_9'
          description: Successful Mender plugin installation response details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Install Mender plugin for 1NCE OS
      tags:
      - Plugin system
  /v1/partners/TARTABIT/plugins:
    post:
      description: Allows setting up an integration with Tartabit to integrate with Azure, Oracle Cloud Infrastructure, Google
        Cloud and other cloud services via 1NCE OS.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_10'
        description: The request body to setup the Tartabit plugin.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_10'
          description: Successful Tartabit plugin installation response details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Install Tartabit plugin for 1NCE OS
      tags:
      - Plugin system
  /v1/partners/MEMFAULT/plugins:
    post:
      description: Allows setting up an integration with Memfault to allow seamless device debugging via 1NCE OS CoAP proxy.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postschema_11'
        description: The request body to setup the Memfault plugin.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postResponseschema_11'
          description: Successful Memfault plugin installation response details.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Install Memfault plugin for 1NCE OS
      tags:
      - Plugin system
  /v1/partners/plugins/{pluginId}:
    delete:
      description: Uninstall a specific plugin by ID to remove the functionality provided by the plugin.
      parameters:
      - description: Unique identifier of the plugin installation.
        explode: false
        in: path
        name: pluginId
        required: true
        schema:
          example: mo3--1DzmAgO-X777AY9h
          type: string
        style: simple
      responses:
        '204':
          description: NoContent
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Uninstall a specific plugin by ID
      tags:
      - Plugin system
    get:
      description: Retrieve details about a specific 1NCE OS plugin by it's installation ID.
      parameters:
      - description: Unique identifier of the plugin installation.
        explode: false
        in: path
        name: pluginId
        required: true
        schema:
          example: mo3--1DzmAgO-X777AY9h
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_partners_plugins__pluginId__get_200_response'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get details about a specific plugin installation
      tags:
      - Plugin system
  /v1/partners/plugins/{pluginId}/restart:
    post:
      description: Attempt to restart a plugin that is in a failed state.
      parameters:
      - description: Unique identifier of the plugin installation.
        explode: false
        in: path
        name: pluginId
        required: true
        schema:
          example: mo3--1DzmAgO-X777AY9h
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restartResponseschema'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Restart a failed plugin by installation ID
      tags:
      - Plugin system
  /v1/partners/plugins:
    get:
      description: Retrieve a list of all installed plugins.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllResponseschema_6'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - BearerAuthentication: []
      summary: Get a list of plugin installations
      tags:
      - Plugin system
components:
  parameters:
    namePrefixGeofences:
      description: Name or Prefix of Geofence
      explode: true
      in: query
      name: name
      required: false
      schema:
        type: string
      style: form
    scope:
      description: scope of geofences
      explode: true
      in: query
      name: scope
      required: false
      schema:
        enum:
        - global
        - device
        type: string
      style: form
    geofenceId:
      description: unique geofence ID
      explode: false
      in: path
      name: geofenceId
      required: true
      schema:
        type: string
      style: simple
    page:
      description: Number of the requested page. Use this parameter to iterate through all items on the different pages. The
        total amount of pages is listed in the response body (pageAmount).
      explode: true
      in: query
      name: page
      required: false
[...]
