openapi: 3.0.1
info:
  title: Support Management
  description: Documentation of the 1NCE API for Support Management.
  contact:
    name: 1NCE GmbH
    url: https://1nce.com
    email: info@1nce.com
  version: v1.2
servers:
- url: https://api.1nce.com/management-api
tags:
- name: Service Requests
  description: Support Management
paths:
  /v1/support:
    get:
      tags:
      - Service Requests
      summary: Get Service Requests
      description: Get a list of all customer service requests.
      operationId: getServiceRequestsUsingGET
      parameters:
      - name: page
        in: query
        description: Number index of the requested service request page. Use this parameter to iterate through all service
          requests on the different pages. The total amount of pages is listed in the response header.
        allowEmptyValue: false
        schema:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          default: 1
      - name: pageSize
        in: query
        description: The number of service requests per page, maximum allowed value is 100.
        allowEmptyValue: false
        schema:
          maximum: 100
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          type: integer
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service_request'
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service_request'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
    post:
      tags:
      - Service Requests
      summary: Create Service Request
      description: Create a new service request towards 1NCE Support.
      operationId: createServiceRequestUsingPOST
      requestBody:
        description: Content of the to be created service request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementApiServiceRequest'
        required: true
      responses:
        '200':
          description: OK
          content: {}
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      deprecated: false
      security:
      - BearerAuthentication: []
      x-codegen-request-body-name: request
components:
  schemas:
    Communication:
      title: Communication Details
      type: object
      properties:
        communicationDate:
          type: string
          description: Timestamp of the communication.
          format: date-time
        direction:
          type: string
          description: Direction of the communication of the service request.
          example: IN
          enum:
          - IN
          - OUT
        id:
          type: string
          description: ID of the communication.
          example: '1'
        originator:
          type: string
          description: Origin of the service request.
        subject:
          type: string
          description: Subject of the service request.
          example: Connectivity Issues
        text:
          type: string
          description: Text message of the service request.
          example: Custom Text
        type:
          type: string
          description: Source of the communication of the service request.
          example: Portal
          enum:
          - PORTAL
          - PHONE_IN
          - PHONE_OUT
          - MAIL_IN
          - MAIL_OUT
      description: Details about the communication in the service request.
    ManagementApiServiceRequest:
      title: Service Request
      type: object
      properties:
        replyToMail:
          type: string
          description: Customer e-mail address for the communication about the service request.
          example: e-mail@address.com
        senderName:
          type: string
          description: Name of the person opening the service request.
          example: Hans Mustermann
        subject:
          type: string
          description: Subject of the service request ticket.
          example: Connectivity Issue
        text:
          type: string
          description: Text body of the service request ticket.
          example: Custom Text
    Service_request:
      title: Service Request
      type: object
      properties:
        caseId:
          type: string
          description: String case id to reference the support case.
          example: '12'
        communications:
          type: array
          items:
            $ref: '#/components/schemas/Communication'
        createDate:
          type: string
          description: Timestamp when the service request was created.
          format: date-time
        solvedDate:
          type: string
          description: Timestamp when the service request was marked as solved.
          format: date-time
        status:
          type: string
          description: Current status of the service request.
          example: OPEN
          enum:
          - OPEN
          - IN_PROGRESS
          - CLOSED
        subject:
          type: string
          description: Subject of the service request ticket.
          example: Connectivity Issue
        text:
          type: string
          description: Text body of the service request ticket.
          example: Custom Text
      description: Detailed content of the service request ticket.
  securitySchemes:
    BearerAuthentication:
      type: http
      scheme: bearer
      description: Bearer Authentication Token used to gain access to the 1NCE API. Please refer to the Open Authorization
        (/oauth/token) request for obtaining a Bearer Token.
x-readme:
  explorer-enabled: true
  proxy-enabled: true
